<% layout("./layouts/boilerplate") -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="empty" style="height: 3rem"></div>
      <h3>Edit this Listing</h3>
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <!-- Edit Title -->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            value="<%= listing.title %>"
            class="form-control"
            required
          />
        </div>

        <!-- Edit Description -->
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required>
<%= listing.description %></textarea
          >
        </div>

        <!-- Edit Image -->
        <div class="mb-3">
          <label for="image" class="form-label">Image Link</label>
          <input
            type="text"
            name="listing[image][url]"
            value="<%= listing.image.url %>"
            class="form-control"
            required
          />
        </div>

        <div class="row">
          <!-- Edit pricing -->
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              value="<%= listing.price %>"
              class="form-control"
              required
            />
          </div>

          <!-- Edit Hostel -->
          <div class="mb-3 col-md-8">
            <label for="Hostel" class="form-label">Hostel</label>
            <input
              type="text"
              name="listing[Hostel]"
              value="<%= listing.Hostel %>"
              class="form-control"
              required
            />
          </div>
        </div>

        <!-- Edit RoomNo -->
        <div>
          <label for="RoomNo" class="form-label">Room Number</label>
          <input
            type="text"
            name="listing[RoomNo]"
            value="<%= listing.RoomNo %>"
            class="form-control"
            required
          />
        </div>

        <!-- 
    submit button -->
        <br />

        <button type="submit" class="btn btn-dark add-btn mb-3">
          Save Changes
        </button>
        <br />
      </form>
    </div>
  </div>
</body>
